@import url("./reset.css");

.wrapper {
}
.form {
    max-width: 550px;
    margin: 0 auto;
    color: #fff;
    padding: 30px 0;
}

.form * {
    outline: none;
}

.form__body {
}

.form__title {
    font-size: 30px;
    font-weight: 700;
    margin: 0 0 30px 0;
}

.form__item {
    margin: 0 0 20px 0;
    font-size: 18px;
}

.form__label {
    font-size: 18px;
    display: block; 
    margin: 0 0 10px 0;
}

.form__input {
    height: 40px;
    padding: 0 20px;
    border-radius: 5px;
    width: 100%;
    font-size: 18px;
}

.form__input:focus {
    box-shadow: 0 0 10px #597c46;
}

.form__input._error {
    box-shadow: 0 0 10px #dd0505;
}

textarea.form__input {
    min-height: 120px;
    resize: vertical;
    padding: 20px;
}

.select {
    width: 50%;
    height: 28px;
    border-radius: 6px;
    font-size: 16px;
    padding-left: 10px;
    cursor: pointer;
  }

.form__button {
}

.options {
    padding: 10px 0 0 0;
}

.options__item {
    margin: 0 0 15px 0;
}

.options__input {
    display: none;
}

.options__input:checked + .options__label::after {
    transform: scale(1);
}

.options__label {
    display: inline-flex;
    font-size: 16px;
    line-height: 140%;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.options__label::before {
    content: "";
    align-self: flex-start;
    flex: 0 0 24px;
    height: 24px;
    background-color: #fff;
    border-radius: 50%;
    margin: 0 10px 0 0;
}

.options__label::after {
    transition: transform 0.3s ease 0s ;
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    width: 16px;
    height: 16px;
    background-color: #7a956b;
    border-radius: 50%;
    transform: scale(0);
}

.file {
}

.file__item {
    position: relative;
    margin-bottom: 15px;
}

.file__input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    font-size: 0;
    cursor: pointer;
}

.file__button {
    display: inline-flex;
    min-height: 40px;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    background-color: #77608d;
    padding: 0 20px;
}

.file__preview {
    display: inline-block;
    max-width: 100px;
    padding: 10px 0 0 0;
}

.file__preview img {
    max-width: 100%;
}

.checkbox {
}

.checkbox__input {
    display: none;
}

.checkbox__input:checked + .checkbox__label::after {
    transform: scale(1);
}

.checkbox__label {
    font-size: 16px;
    line-height: 140%;
    display: inline-flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.checkbox__label::before {
    content: "";
    align-self: flex-start;
    margin: 0 10px 0 0;
    flex: 0 0 24px;
    height: 24px;
    background-color: #fff;
    border-radius: 4px;
}

.checkbox__label::after {
    transition: all 0.5s ease 0s;
    content: "";
    width: 16px;
    height: 16px;
    position: absolute;
    top: 4px;
    left: 4px;
    background-color: #7a956b;
    border-radius: 4px;
    transform: scale(0);
}

.checkbox__label a {
    color: #7a956b;
}

.form__button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 60px;
    background-color: #7a956b;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 18px;
    font-weight: 700;
    border-radius: 16px;
    transition: all 0.3s ease 0s ;
    position: relative;
    top: 0;
    cursor: pointer;
}

.form__button:hover {
    background-color: #597c46;
}

.form__button:active {
    top: 3px;
}